@using ordersProject.Models;
@model IEnumerable<Order>
@{
    ViewData["Title"] = "View Page";
}
<h1>@ViewData["Title"]</h1>
<div class="row m-3">
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <td scope="col">oxid</td>
                    <td scope="col">orderdate</td>
                    <td scope="col">billingaddress</td>
                    <td scope="col">payments</td>
                    <td scope="col">articles</td>
                    <td scope="col">invoice number</td>
                    <td scope="col">status</td>
                </tr>
            </thead>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Oxid</td>
                    <td>@order.OrderDate.ToUniversalTime()</td>
                    <td>
                        @order.BillingAddress.BillEmail<br>
                        @order.BillingAddress.BillFName<br>
                        @order.BillingAddress.BillStreet<br>
                        @order.BillingAddress.BillStreetNr<br>
                        @order.BillingAddress.BillCity<br>
                        Country: @order.BillingAddress.Country.Geo
                    </td>
                    <td>
                        @foreach (var payment in order.Payments)
                        {
                            <span>Payment:</span><br>
                            <ul>
                                <li>@payment.MethodName</li>
                                <li>@payment.Amount</li>
                            </ul>
                        }
                    </td>
                    <td>
                        @foreach (var orderArticle in order.Articles)
                        {
                            <span>OrderArticle:</span><br>
                            <ul>
                                <li>@orderArticle.ArtNum</li>
                                <li>@orderArticle.Title</li>
                                <li>@orderArticle.Amount</li>
                                <li>@orderArticle.BrutPrice</li>
                            </ul>
                        }
                    </td>
                    <td>
                        @order.InvoiceNumber
                    </td>
                    <td>
                        @order.Status
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
